{% extends 'base.html'%}

{%block title%} Cocktail, please! {%endblock%}

{%block content%}

<div class="p-5 mb-4 rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to "Cocktail, please!"</h1>
        <p class="col-md-8 fs-4">You look like you could use a cocktail, girl. Hit the 'cocktail, please!' button below to get started on your magical alcohol journey. Or, if you're feeling less chaotic, look up a cocktail by name or ingredient. And now you can create an account to save your favorite cocktails!</p>
        <form action="/random">
            <button type="submit" class="btn btn-outline-dark">Cocktail, please!</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Search by Ingredient</h5>
          <p class="card-text">Got something in the cabinet but no cocktail knowledge? Look it up by ingredient</p>
          <form action = '/search/ingredient'>
          <button type="submit" class="btn btn-outline-dark">Search by Ingredient</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Search by Name</h5>
          <p class="card-text">You know your cocktail names but not how to make them? Look it up by name.</p>
          <form action="/search/name">
          <button type="submit" class="btn btn-outline-dark">Search by Name</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{%endblock%}