{% extends 'base.html'%}

{%block title%} Favorites {%endblock%}

{%block content%}
<br>
<div class="card m-3" style="width: 18rem;">
    <div class="card-header bg-light">
        {{user.username}}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{user.email}}
        </li>
        <li class="list-group-item">
            <form method="get" action="user/profile-edit">
            <button type="submit" class="btn btn-outline-dark">Edit User</button>
            </form>
        </li>
    </ul>
</div>
<br>
<div class="card m-3" style="width: 18rem;">
    <div class="card-header bg-light">
      Favorites
    </div>
    <ul class="list-group list-group-flush">
        {%for cocktail in favorite_cocktails %}
    <li class="list-group-item">
        <form action="/cocktail/{{cocktail.api_id}}">
        <button type="submit" class="btn btn-outline-dark">{{cocktail.name}}</button>
        </form>
        </li>
        {%endfor%}
    </ul>
  </div>
  </div>

{%endblock%}