{% extends 'base.html' %}

{%block title%}Edit Profile{%endblock%}

{%block content%}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Edit your Profile below:</h2>

      <form action="/user/profile-edit" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        
        <button class="btn btn-primary btn-block btn-md">Edit</button>
    </form>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Would you like to delete your profile?</h2>

      <form action="/user/delete" method="post">
        <button class="btn btn-primary btn-block btn-md">Delete</button>
    </form>
</div>

{%endblock%}